nav {
	width: 100%;
	height: 70px;
	background-color: #69BEE7;
}

article {
	width: 100%;
	height: 500px;
	background-color: #69BEE7;
}

footer {
	width: 100%;
	height: 68px;
	background-color: #69BEE7;
}

body{
	font-family: calibri;
}

.textfooter {
	width: 79%;
	height: 60px;
	background-color: white;
	position: absolute;
    bottom: 0%;
    right: 1%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navheader{
	width: 79%;
	height: 60px;
	background-color: white;
	position: absolute;
    top: 0%;
    right: 1%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
	text-decoration: none;
}

.logo{
	height: 40px;
	width: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 0px 0px 20px 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #69BEE7;
    text-align: center;
    padding: 18px 18px;
    height: 60px;
}

li a:hover:not(.active) {
    background-color: #69BEE7;
    color: white;
    height : 60px;

}

.icon{
	height: 225px;
	width: 225px;
	position: absolute;
	top: 1%;
	right: 1%;
	border-radius: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.content1{
	width: 19%;
	height: 637px;
	position: absolute;
	left: 0%;
	top: 0%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #227AB1;
}

.content2{
	width: 81%;
	height: 300px;
	position: absolute;
	right: 0;
	top: 26%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	font-size: 30px;
}

.cur{
	height: 45px;
	width:4px;
	background-color:#69BEE7;
	position: absolute;	
	top: 52%;
	right: 36%;
}